<section>
  <div class="container">
    <div class="phone-wrap">
      <span><strong>Fysioterapi:</strong> {{settings.phone}} <img src="/assets/images/phone-icon.png" alt=""></span>
      <span><strong>Sportsfysioterapi:</strong> {{settings.phone_2}} <img src="/assets/images/phone-icon.png" alt=""></span>
    </div>
    <div class="link-wrap">
      <a id="topnav-en" [routerLink]="['/' + settings.en_page.post_name]" [routerLinkActive]="['active']" >EN <img src="/assets/images/en.png" alt=""></a>
      <a id="facebook-page" [href]="settings.facebook_page" target="_blank"><img src="/assets/images/facebook-icon.png" alt=""></a>
    </div>
  </div>
</section>
