@import "../main";

section {
  width: 100%;
  //height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 12px;

  .phone-wrap {
    display: inline-block;
    @media (max-width: 700px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        margin-left: 0;
      }

      a {
        margin-left: 0;
      }
    }
  }

  .link-wrap {
    display: inline-block;
    @media (max-width: 700px) {
      display: none;
    }
  }

  @media (max-width: 700px) {
    line-height: 26px;

    span {
      //display: block;

      img {
        display: none;
      }
    }
  }

  .container {
    @media (max-width: 1199px) {
      width: 100%;
    }

    @media (max-width: 700px) {
      padding: 0 15px;
      max-width: 100%;
      font-size: 11px;
    }

    @media (max-width: 360px) {
      font-size: 10px;
    }
  }

  span {
    margin-left: 20px;
    white-space: nowrap;
    img {
      margin-left: 2px;
    }
  }

  a {
    margin-left: 20px;
    color: $main-text-color;
    white-space: nowrap;

    &#topnav-en {
      img {
        margin-left: 2px;
      }
    }
  }
}
