@import "../main";

section {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  a {
    @extend %btn;

    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    &:hover {
      transform: translate(-50%, 40%);
    }
  }
}
