<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="picture" [ngStyle]="{'background-image': 'url(' + images.image1 + ')'}"></div>
        <div class="picture" [ngStyle]="{'background-image': 'url(' + images.image2 + ')'}"></div>
      </div>
      <div class="col">
        <div class="picture" [ngStyle]="{'background-image': 'url(' + images.image3 + ')'}"></div>
      </div>
      <div class="col">
        <div class="picture" [ngStyle]="{'background-image': 'url(' + images.image4 + ')'}"></div>
        <div class="picture" [ngStyle]="{'background-image': 'url(' + images.image5 + ')'}"></div>
      </div>
      <div class="col">
        <div class="picture" [ngStyle]="{'background-image': 'url(' + images.image6 + ')'}"></div>
        <div class="picture" [ngStyle]="{'background-image': 'url(' + images.image7 + ')'}"></div>
      </div>
    </div>
  </div>
</section>
