<section>
  <div class="container">
    <div class="row">
      <h2>Send os en besked</h2>

      <div class="box-wrapper">
        <div class="box">
          <form [formGroup]="registerForm" (submit)="onSubmit(registerForm.value)" *ngIf="!success">
            <div class="form-ele">
              <input id="name" formControlName="name" type="text">
              <label for="name" [ngClass]="{'error': registerForm.controls.name.errors && !registerForm.controls.name.pristine }">Indtast dit navn*</label>
            </div>
            <div class="form-ele">
              <input id="email" formControlName="email" type="text">
              <label for="email" [ngClass]="{'error': registerForm.controls.email.errors && !registerForm.controls.email.pristine }">Email adresse*</label>
            </div>
            <div class="form-ele">
              <input id="phone" formControlName="phone" type="text">
              <label for="phone">Telefonnummer</label>
            </div>
            <div class="form-ele">
              <textarea formControlName="message" id="message"></textarea>
              <label for="message" [ngClass]="{'error': registerForm.controls.message.errors && !registerForm.controls.message.pristine }">Besked*</label>
            </div>
            <button [ngClass]="{valid: registerForm.status == 'VALID'}" type="submit">Send email</button>
          </form>

          <h3 *ngIf="success">Tak for din besked, vi vil vende tilbage snarest muligt.</h3>
          <h3 class="error" *ngIf="error">{{error}}</h3>
        </div>

        <div class="box">
          <div class="icon">
            <img src="/assets/images/address-icon.png" alt="">
          </div>
          <div class="content">
            <div class="title">Fysioterapi</div>
            <ul>
              <li>{{settings.streetname}}</li>
              <li>{{settings.zipcode}} {{settings.city}}</li>
            </ul>
            <ul>
              <li>Ring/sms {{phone}}</li>
              <li>{{settings.email}}</li>
            </ul>
          </div>
          <div class="link">
              <a href="https://www.google.dk/maps/place/{{settings.streetname}},+{{settings.zipcode}}+{{settings.city}}/" target="_blank">Vis på Google Maps</a>
          </div>
        </div>

        <div class="box">
          <div class="icon">
            <img src="/assets/images/address-icon.png" alt="">
          </div>
          <div class="content">
            <div class="title">Sportsfysioterapi</div>
            <ul>
              <li>{{settings.streetname_2}}</li>
              <li>{{settings.zipcode_2}} {{settings.city_2}}</li>
            </ul>
            <ul>
              <li>Ring/sms {{phone2}}</li>
              <li>{{settings.email}}</li>
            </ul>
          </div>
          <div class="link">
            <a href="https://www.google.dk/maps/place/{{settings.streetname}},+{{settings.zipcode}}+{{settings.city}}/" target="_blank">Vis på Google Maps</a>
          </div>
        </div>


      </div>

      <p>Følg os på vores <a [href]="settings.facebook_page" target="_blank">Facebook</a> side for seneste nyheder omkring klinikken.</p>

      <ul>
        <li>Åbningstider</li>
        <li *ngFor="let opening of settings.opening_hours">{{opening.days}} <span>{{opening.hours}}</span></li>
      </ul>
    </div>
  </div>
</section>
