<section *ngIf="isThisBrowser" id="cd-google-map">
  <sebm-google-map [styles]="style" [latitude]=55.67903625108894 [longitude]=12.51716136932373 [zoom]="zoom" [disableDefaultUI]=true [zoomControl]=false [streetViewControl]=false [scrollwheel]=false>
    <maps-controller (mapLoaded)="mapLoaded($event)"></maps-controller>

    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon">
      <sebm-google-map-info-window>
        <div class="title">Fysioterapi</div>
        <ul class="info">
          <li>{{settings.streetname}}</li>
          <li>{{settings.zipcode}} {{settings.city}}</li>
        </ul>
       </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-marker [latitude]="lat2" [longitude]="lng2" [iconUrl]="icon">
      <sebm-google-map-info-window>
        <div class="title">Sportsfysioterapi</div>
        <ul class="info">
          <li>{{settings.streetname_2}}</li>
          <li>{{settings.zipcode_2}} {{settings.city_2}}</li>
        </ul>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>

  <div id="cd-zoom-in" on-click="zoomIn()"></div>
	<div id="cd-zoom-out" on-click="zoomOut()"></div>
  <address><strong>Fysioterapi:</strong> {{settings.streetname}}, {{settings.zipcode}} {{settings.city}}<br/> <strong>Sportsfysioterapi:</strong> {{settings.place_name_2}}, {{settings.streetname_2}}, {{settings.zipcode_2}} {{settings.city_2}}</address>
</section>
