@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html {
  overflow-y: scroll;
}

a {
  color: #9ed098;
}

p {
  line-height: 1.6;
}

ol, ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 30px;
}

.loader {
  width: 120px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-top: 50vh;
}

.loader span {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #9ed098;
  border-radius: 50%;
  top: 42%;
  left: 42%;
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: loader-dot 2s infinite;
  animation: loader-dot 2s infinite;
}

.loader span:nth-child(2) {
  -moz-transform: scale(1, 1) rotateZ(0deg) translate(-98%, -70px);
  -ms-transform: scale(1, 1) rotateZ(0deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(0deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(0deg) translate(-80%, -80px);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loader span:nth-child(3) {
  -moz-transform: scale(1, 1) rotateZ(45deg) translate(-80%, -80px);
  -ms-transform: scale(1, 1) rotateZ(45deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(45deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(45deg) translate(-80%, -80px);
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.loader span:nth-child(4) {
  -moz-transform: scale(1, 1) rotateZ(90deg) translate(-80%, -80px);
  -ms-transform: scale(1, 1) rotateZ(90deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(90deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(90deg) translate(-80%, -80px);
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.loader span:nth-child(5) {
  -moz-transform: scale(1, 1) rotateZ(135deg) translate(-80%, -80px);
  -ms-transform: scale(1, 1) rotateZ(135deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(135deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(135deg) translate(-80%, -80px);
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

.loader span:nth-child(6) {
  -moz-transform: scale(1, 1) rotateZ(180deg) translate(-80%, -80px);
  -ms-transform: scale(1, 1) rotateZ(180deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(180deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(180deg) translate(-80%, -80px);
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.loader span:nth-child(7) {
  -moz-transform: scale(1, 1) rotateZ(225deg) translate(-80%, -80px);
  -ms-transform: scale(1, 1) rotateZ(225deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(225deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(225deg) translate(-80%, -80px);
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.loader span:nth-child(8) {
  -moz-transform: scale(1, 1) rotateZ(270deg) translate(-80%, -80px);
  -ms-transform: scale(1, 1) rotateZ(270deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(270deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(270deg) translate(-80%, -80px);
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.loader span:nth-child(9) {
  -moz-transform: scale(1, 1) rotateZ(315deg) translate(-80%, -80px);
  -ms-transform: scale(1, 1) rotateZ(315deg) translate(-80%, -80px);
  -webkit-transform: scale(1, 1) rotateZ(315deg) translate(-80%, -80px);
  transform: scale(1, 1) rotateZ(315deg) translate(-80%, -80px);
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}



@-webkit-keyframes loader-dot {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  50% {
    width: 26px;
    height: 26px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes loader-dot {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  50% {
    width: 26px;
    height: 26px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
