<page-splash [title]="page.acf.splash_title" [content]="page.acf.splash_text"></page-splash>
<text-section [title]="page.acf.content_title" [content]="page.acf.content_text"></text-section>
<cta-image [image]="page.acf.cta_image.url"></cta-image>
<text-section [title]="page.acf.employee_section_title" [content]="page.acf.employee_section_content"></text-section>
<employee-list [employees]="page.acf.employees"></employee-list>
