@import "../main";

section {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  .container {
    width: calc(100% - 30px);
    max-width: 1140px;
  }

  #logo {
    float:left;
    line-height: 100px;
  }

  nav {
    float: right;
    height: 100px;
    line-height: 100px;

    @media (max-width: $tablet) {
      display: none;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

       > li {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        line-height: 100px;
        height: 100%;

        a {
          color: #555555;
          font-size: 14px;
          font-weight: 500;
          padding: 0 15px;
          display: block;
          width: 100%;
          height: 100%;
          position: relative;

          &:hover, &.active, &.highlight {
            color: $brand-color;
            text-decoration: none;
          }

          &:hover, &.active {
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              display: block;
              height: 2px;
              width: 100%;
              background: $brand-color;
            }
          }
        }

        &:hover {
          > ul {
            display: block;
          }
        }

        > ul {
          position: absolute;
          top: calc(100% - 30px);
          left: 6px;
          display: none;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
          background: #fff;
          z-index: 10;

          li {
            display: block;
            line-height: 40px;
          }

          &:after {
            top: 0;
            left: 50%;
            width: 9px;
            height: 9px;
            transform: translate(-50%, -50%) rotate(45deg);
            background: white;
            display: block;
            position: absolute;
            content: "";
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            border-left: 1px solid rgba(0, 0, 0, 0.05);
          }

          > li {
            margin-left: 0;
            padding: 0px 10px;
            white-space: nowrap;
            > a {
              padding: 0;
              &:hover, &.active {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .mobile-menu-toggler-wrapper {
    float:right;
    height: 100px;
    line-height: 100px;
    display: none;

    @media (max-width: $tablet) {
      display: block;
    }
  }

  .mobile-menu-toggler {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $brand-color;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        transform-origin: left center;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -2px;
          left: 8px;
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 20px;
          left: 8px;
        }
      }
    }
  }

}
