<topbar *ngIf="settings" [settings]="settings"></topbar>
<main-navigation></main-navigation>
<router-outlet></router-outlet>
<div *ngIf="isThisBrowser" class="footer-wrapper">
  <footer-maps *ngIf="settings" [settings]="settings"></footer-maps>
</div>
<app-footer *ngIf="settings" [settings]="settings"></app-footer>
