$brand-color: #9ed098;
$main-text-color: #353535;
$footer-color: #353535;

$extra-tiny: 465px;
$tiny: 661px;
$mobile: 768px;
$tablet: 991px;
$desktop: 1399px;

%clearfix {
  &:before, &:after {
    clear: both;
    display: table;
    content: "";
  }
}

%sep {
  width: 100px;
  height: 3px;
  background: $brand-color;
  display: inline-block;
  margin: 30px 0;
}

%btn {
  background: $brand-color;
  color: black;
  font-weight: 700;
  padding: 20px 70px;
  border-radius: 40px;
  margin-top: 20px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
  transition: box-shadow 0.4s, transform 0.4s;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(-10px);
  }
}
