<section>
  <div class="treatment-list">
    <div class="treatment" *ngFor="let treatment of treatments">
      <span *ngIf="!treatment.treatment_page.post_name">{{treatment.treatment_page.post_name}}</span>
      <a *ngIf="treatment.treatment_page.post_name" [routerLink]="['/behandlinger/' + treatment.treatment_page.post_name]">{{treatment.treatment_name}}</a>
    </div>
  </div>
</section>
