<section>
  <div class="container">
    <div class="row">
      <div class="content">
        <h1>{{title}}</h1>

        <a [routerLink]="['/book-nu']" class="btn">
          BOOK ONLINE NU
        </a>

        <p>Fysioterapi <span>{{phone}}</span><br/>Sportsfysioterapi <span>{{phone2}}</span></p>
        <p></p>
        <img src="/assets/images/frontpage-splash.png" alt="Kuhrefysio holdet">
      </div>
    </div>
  </div>
</section>
