@import "../main";

section.page-splash {
  background: #f6f8f7;

  .content {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 90px;

    text-align: center;

    h1 {
      letter-spacing: -1px;
      font-weight: 700;
      font-size: 32px;
      text-transform: uppercase;
      margin-top: 0;
    }

    .sep {
      @extend %sep;
    }

    .btn {
      background: $brand-color;
      color: black;
      font-weight: 700;
      padding: 25px 75px;
      border-radius: 40px;
      margin-top: 20px;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    .text {
      margin: auto;
      max-width: 790px;
    }

    p {
      font-weight: 300;
      font-size: 18px;
      color: $main-text-color;
      line-height: 1.6;
    }
  }
}
